<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendar - Equipamentos</title>

  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/agendar.css">
</head>
<body>
  <div class="login-container">
    <h2>Escolha Equipamentos</h2>
    <form method="post">
      {% for equipamento in equipamentos %}
        <label class="checkbox-option">
          <input type="checkbox" name="equipamentos" value="{{ equipamento.id_equipamento }}">
          {{ equipamento.nome }}
        </label>
      {% endfor %}
      <a href="{{ url_for('agendar_funcionarios') }}" class="back-link">Voltar</a>
      <button type="submit" class="login-btn">Próximo</button>
    </form>
  </div>
</body>
</html>
