<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakeOne</title>

    <!-- Reset CSS -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Manrope -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <!-- Styles CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="top-lane">
            <p>Sistema de agendamento online.</p>
            <p>Equipamentos  modernos de alta qualidade!</p>
        </div>
        <nav class="navbar">
            <img src="/static/images/logos/takeone.png" alt="Logo Take One">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/">Serviços</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Agendamento</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
            <div>
                <a href="/">Cadastre-se</a>
                <a href="/">Login</a>
            </div>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-section">
            <div class="left-main-content">
                <div class="up-main-content">
                    <h1>Take One</h1>
                    <h2>Media &</h2>
                    <h2>Flow</h2>
                </div>
                <div class="middle-main-content">
                    <p></p>
                </div>
                <div class="down-main-content">
                    <a href="">Agendar agora!</a>
                </div>
            </div>
            <div class="right-main-content">
                <img src="/static/images/object/modelo.png" alt="Modelo">
            </div>
        </section>
    </main>
</body>
</html>